.toggle-enter {
    opacity: 0;
    transform: translateY(-10px);
  }
  .toggle-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  .toggle-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .toggle-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms, transform 300ms;
  }
  
  /* New styles for hover effects and scaling */
  a.flex {
    transition: transform 300ms;
  }
  
  a.flex:hover {
    transform: scale(1.05);
  }
  
  /* Button styling */
  button.flex {
    transition: transform 300ms;
  }
  
  button.flex:hover {
    transform: scale(1.05);
  }
  
